<p>
    <b>The Last Action Heros:</b>
</p>

{% if heroes %}
    <p>
        The Justice League!
    </p>
    {% for hero in heroes %}
        <li>{{ hero.name }} {{ hero.surname }} -
            {% if hero.nickname %}
                <a href="{% url 'nine:personal-room' nick=hero.nickname|lower %}">
                    {{ hero.nickname }}
                </a>
            {% else %}
                incognito
            {% endif %}
             [{{ hero.age }}]</li>
    {% endfor %}
{% else %}
    <p>
        Personal room of {{ superhero.nickname }}
    </p>
    <li>{{ superhero.surname }}</li>
    <li>{{ superhero.name }}</li>
    <li>{{ superhero.fullname }}</li>
    <li>{{ superhero.age }}</li>

    <a href="{% url 'nine:heroes_l' %}">
        to heroes list
    </a>
{% endif %}
